* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #ffffff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#twitchline-container {
    height: 100vh;
    width: 100vw;
    float: left;
}

#twitchline-cmd {
    height: 35%;
    width: 100%;
    float: left;
}

#twitchline-cmd-input {
    width: 100%;
    height: 50px;
    float: left;
    border: none;
    padding: 15px;
    background: #333333;
    color: #ffffff;
}

    #twitchline-cmd-input:focus {
        outline: 0;
        outline-color: transparent;
        outline-style: none;
    }

#twitchline-cmd-output {
    width: 100%;
    height: calc(100% - 50px);
    float: left;
    border: none;
    padding: 15px;
    background: #000000;
    color: #ffffff;
    resize: none;
}

    #twitchline-cmd-output:focus {
        outline: 0;
        outline-color: transparent;
        outline-style: none;
    }

#twitchline-video {
    height: 65%;
    width: 100%;
    float: left;
}

    #twitchline-video #twitchline-view {
        height: 100%;
        width: 100%;
        float: left;
    }

/* Blazor specific */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
